@media screen and (min-width: 300px) {
    /* write your CSS in this code block */
    .logo {
        font-size: 50px;
        color: #333;
        display: flex;
        justify-content:center;
        color: #ff69b4;
    }
        .img-logo {
            width: 75px;
            height: 75px;
            margin-left: 10px;
        }
        .nav-links{
            display:flex;
            justify-content:space-around;
            padding: 20px;
            text-decoration: none;

        }
        .nav-links a:hover {
            color:#ff69b4
        }
        .hero {
            background-image: url('florist.jpg');
            background-size: cover;
            background-position: center;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(101, 17, 60);
            font-weight: 200px;
            font: 1em sans-serif;
        }

        
        .hero::before {
            content: "";
            position: absolute;
            width: 40%;
            height: 40%;
            background-color: rgba(0, 0, 0.5, 0.5);
        }

        .hero-btn {
            padding: 10px 20px;
            background-color: #ff69b4;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .products h2{
            display: flex;
            justify-content:center;
            color:#ff69b4;
            font: 2em sans-serif
            margin-bottom:30px
            
        }
        .products-header h2{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap:20px;
            justify-content:center;
            color:#ff69b4;
            font: 2em sans-serif;
            margin-bottom:30px
        }

        .product-card {
            
            
            
            background: #b7cbc1;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            
}
        .product-card img{
            width: 30%;
            height: 300px;
            object-fit: ;
            border-radius: 10px;
        }
        .product-card h3{
            color: #ff69b4;
            margin: 10px 0;
        }
        .product-card p{
            color: #333;
            font-size: 1.2em;
            margin-bottom: 15px;
        }

        .order-btn{
            padding: 10px 20px;
            background-color: #ff69b4;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        
        }

        footer{
            background-color: #ff69b4;
            margin-top: 0;
            padding: 20px;
            text-align: center;
            color: #fff;
        }
}